body {
    bckground-color: lightblue;
    font-familya: 'century gothic', sans-serif;
   
 
}

.customP{
    width: 50%; 
height: 50%; 
background-color: gray; MARGIN: auto; padding: 20px; border-radius: 10px; font-family: 'Share Tech Mono', monospace;
}


style.image striper.jpg{
height:50px ;    
width: 50px;
}

style.img{ "width: 200px; border-radius: 100px;
    margin-right: 10px; float: left;">}